* {
  margin: 0;
}
.app {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  padding: 20px;
  gap: 50px;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.app_left {
  flex: 60%;
}
.app_right {
  flex: 30%;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
